[Unit]
Description=Camera Zero service

[Service]
ExecStart=/usr/bin/sudo /usr/bin/python3 /home/pi/camera.zero/camera.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Camera Zero
User=pi

[Install]
WantedBy=multi-user.target
